<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ADM_JustADemo>
            <version>0.1.0</version>
        </ADM_JustADemo>
    </modules>
    <global>
       <blocks>
            <adm_justademo>
                <class>ADM_JustADemo_Block</class>
            </adm_justademo>
<!--             <core>
                <rewrite>
                  <template>ADM_JustADemo_Block_Core_Template</template>
                </rewrite>
            </core>  -->             
        </blocks>    
        <models>
            <adm_justademo>
                <class>ADM_JustADemo_Model</class>
            </adm_justademo>
            <core>
                <rewrite>
                  <layout_update>ADM_JustADemo_Model_Core_Layout_Update</layout_update>
                </rewrite>
            </core>      
        </models>
        <helpers>
            <adm_justademo>
                <class>ADM_JustADemo_Helper</class>
            </adm_justademo>
        </helpers>    

        <events>
<!--             <customer_save_after>
                <observers>
                    <adm_children_observer_1>
                        <class>ADM_Children_Model_Observer</class>
                        <method>saveChildren</method>
                    </adm_children_observer_1>
                </observers>
            </customer_save_after> -->
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <auth>
                        <class>ADM_JustADemo_Model_Observer</class>
                        <method>actionPreDispatch</method>
                    </auth>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
        </events>    
        <layout>
          <updates>
            <adm_justademo>
              <file>adm/justademo.xml</file>
            </adm_justademo>
          </updates>
        </layout>
        <translate>
            <modules>
                <ADM_JustADemo>
                    <files>
                        <default>ADM_JustADemo.csv</default>
                    </files>
                </ADM_JustADemo>
            </modules>
        </translate>    
    </frontend>
    <admin>
         <routers>
            <adm_justademo>
                 <use>admin</use>
                 <args>
                    <module>ADM_JustADemo_Adminhtml</module>
                    <frontName>justademoforadmin</frontName>
                 </args>
            </adm_justademo>
         </routers>
     </admin>    
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <auth>
                        <class>ADM_JustADemo_Model_Observer</class>
                        <method>actionPreDispatchAdmin</method>
                    </auth>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
          <updates>
            <adm_justademo>
              <file>adm/justademo.xml</file>
            </adm_justademo>
          </updates>
        </layout>
        <translate>
            <modules>
                <ADM_JustADemo>
                    <files>
                        <default>ADM_JustADemo.csv</default>
                    </files>
                </ADM_JustADemo>
            </modules>
        </translate>
    </adminhtml>  
</config>